/**
Forms
 */

.innomedio-formbuilder {
  &.was-sent {
    .form-content {
      display: none;
    }
  }

  label {
    font-size: 16px;
    font-weight: bold;
  }
}

.label-required {
  &:after {
    content: ' *';
    color: $color-danger;
  }
}

// Uncomment for *~MAGIC~*
/*
.label-optional {
  &:after {
    content: ' (' attr(data-text-optional) ')';
    color: #bbb;
    font-size: 0.75em;
  }
}
*/