.blockdisplay {
  display: block;
}
.prim-font {
  font-family: 'Source Sans Pro', sans-serif;
}
.sec-font {
  font-family: 'Montserrat', sans-serif;
}
.none-appearance {
  -moz-appearance: none;
  -webkit-appearance: none;
}
.text-uppercase {
  text-transform: uppercase;
}
.no-decoration {
  text-decoration: none;
}
.ease-slow {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.ease-normal {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ease-fast {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.circle-border-radius {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}
.text-center {
  text-align: center;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: left;
  align-items: left;
  flex-direction: column;
  -webkit-flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../include/boxsizing.htc);
  outline: none;
}
html,
body {
  height: 100%;
}
.animated {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #96989a;
  background: #fff;
  font-weight: 400;
  overflow-x: hidden;
}
.full-wrapper {
  position: relative;
  z-index: 1;
}
.push {
  height: 1px;
}
a {
  color: #d31d5e;
  text-decoration: none;
}
h1 {
  color: #000;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 25px;
}
h2 {
  margin-bottom: 25px;
  color: #000;
  font-size: 28px;
  line-height: 30px;
}
h3 {
  margin-bottom: 35px;
}
h3 {
  color: #000;
  font-size: 18px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h2 a:hover,
h3 a:hover {
  text-decoration: underline;
}
h2 a:hover {
  text-decoration: none !important;
}
/*====================================================
STRUCTUUR
=====================================================*/
.pull-left {
  float: left;
  color: #fff;
}
.pull-right {
  float: right;
}
i.right-margin {
  margin-right: 10px;
}
i.left-margin {
  margin-left: 10px;
}
.span30 {
  width: 33%;
}
.span50 {
  width: 48%;
}
.span70 {
  width: 60%;
}
.container {
  width: 1060px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1050px) {
  .container {
    width: 95%;
  }
}
.clear {
  clear: both;
  overflow: hidden;
}
/*====================================================
BUTTON
=====================================================*/
.btn,
.btn-full {
  background: #d31d5e;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 20px 40px;
  margin: 10px 0;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.btn:hover {
  text-decoration: none;
  color: #a6174a;
  background: #fff;
  border-color: #d31d5e;
}
.btn-full {
  width: 100%;
}
.btn--pill {
  border-radius: 50px;
}
.btn--h-normal {
  height: 44px;
  line-height: 44px;
  padding: 0 40px;
}
.btn--webshop {
  border: none;
  margin-top: 25px;
}
/*====================================================
HEADER
=====================================================*/
.header-wrapper {
  background-repeat: no-repeat;
  background-position: center center;
  background: url("../images/header.JPG");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}
.header-wrapper .logo {
  position: absolute;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  display: block;
  margin-top: 15%;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
}
.header-wrapper .logo .subtitle {
  clear: both;
  display: block;
  color: #d31d5e;
}
.header-wrapper .logo img {
  width: 300px;
  margin: 0 100px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1050px) {
  .header-wrapper .logo {
    margin-top: 30%;
  }
}
@media only screen and (max-width: 750px) {
  .header-wrapper .logo {
    position: absolute;
    width: 80%;
    left: 10%;
    margin-left: 0;
    margin-top: 30%;
  }
  .header-wrapper .logo img {
    width: 60%;
    margin: 0;
    margin-bottom: 40px;
  }
}
.header-wrapper .scroll-image {
  text-align: center;
  left: 49%;
  position: absolute;
  font-size: 25px;
  bottom: 30px;
  margin-left: -18px;
  text-decoration: none;
  color: #fff;
}
@media only screen and (max-width: 450px) {
  .header-wrapper .scroll-image {
    left: 47%;
  }
}
.header-wrapper .scroll-image .title {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}
.header-wrapper .contact-button {
  text-decoration: none;
}
.header-wrapper .contact-button .contact-button-wrapper {
  display: inline-block;
  margin: 3% 4% auto auto;
  float: right;
}
@media only screen and (max-width: 450px) {
  .header-wrapper .contact-button .contact-button-wrapper {
    margin: 6% 5% auto auto;
  }
}
.header-wrapper .contact-button .contact-button-wrapper .text {
  -webkit-border-radius: 35px 0 0 35px;
  -moz-border-radius: 35px 0 0 35px;
  border-radius: 35px 0 0 35px;
  font-size: 10px;
  float: left;
  background-color: #fff;
  color: #353535;
  padding: 15px 20px 15px 27px;
}
.header-wrapper .contact-button .contact-button-wrapper .icon {
  -webkit-border-radius: 0 35px 35px 0;
  -moz-border-radius: 0 35px 35px 0;
  border-radius: 0 35px 35px 0;
  padding: 15px 18px 13px 14px;
  background-color: #d31d5e;
  float: right;
  color: #fff;
  font-size: 12px;
}
.header-wrapper .contact-button .contact-button-wrapper .clear {
  clear: both;
}
.header-wrapper .facebook-button {
  text-decoration: none;
}
.header-wrapper .facebook-button .facebook-button-wrapper {
  display: inline-block;
  margin: 1% 4% auto auto;
  float: right;
  clear: both;
}
@media only screen and (max-width: 450px) {
  .header-wrapper .facebook-button .facebook-button-wrapper {
    margin: 6% 5% auto auto;
  }
}
.header-wrapper .facebook-button .facebook-button-wrapper .text {
  -webkit-border-radius: 35px 0 0 35px;
  -moz-border-radius: 35px 0 0 35px;
  border-radius: 35px 0 0 35px;
  font-size: 10px;
  float: left;
  background-color: #fff;
  color: #353535;
  padding: 15px 20px 15px 27px;
}
.header-wrapper .facebook-button .facebook-button-wrapper .icon {
  -webkit-border-radius: 0 35px 35px 0;
  -moz-border-radius: 0 35px 35px 0;
  border-radius: 0 35px 35px 0;
  padding: 15px 18px 13px 14px;
  background-color: #3C5A99;
  float: right;
  color: #fff;
  font-size: 12px;
}
.header-wrapper .facebook-button .facebook-button-wrapper .clear {
  clear: both;
}
/*====================================================
MAIN WRAPPER
=====================================================*/
.main-wrapper {
  position: relative;
  padding: 125px 0;
}
@media only screen and (max-width: 750px) {
  .main-wrapper {
    padding: 50px 0;
  }
}
.main-wrapper .specialiteiten {
  margin: 0 auto;
  width: 80%;
}
.main-wrapper .specialiteiten.space-bottom {
  margin-bottom: 140px;
}
@media only screen and (max-width: 1050px) {
  .main-wrapper .specialiteiten {
    height: 80px;
  }
}
.main-wrapper .specialiteiten .subtitle {
  letter-spacing: 4px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #d31d5e;
  text-align: center;
}
@media only screen and (max-width: 1050px) {
  .main-wrapper .specialiteiten .subtitle {
    margin-bottom: 55px;
  }
}
@media only screen and (max-width: 450px) {
  .main-wrapper .specialiteiten .subtitle {
    margin-bottom: 40px;
  }
}
.main-wrapper .specialiteiten .title {
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #020202;
  background: url("../images/subtitle-border.png") no-repeat bottom center;
  padding-bottom: 30px;
}
@media only screen and (max-width: 1050px) {
  .main-wrapper .specialiteiten .title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 570px) {
  .main-wrapper .specialiteiten .title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 450px) {
  .main-wrapper .specialiteiten .title {
    font-size: 12px;
  }
}
.main-wrapper .contact-info {
  margin-left: -3.33%;
  margin-bottom: 35px;
}
.main-wrapper .contact-info .subtitle {
  letter-spacing: 4px;
  padding-top: 15px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #d31d5e;
  text-align: center;
  background: url("../images/subtitle-border.png") no-repeat top center;
}
.main-wrapper .contact-info .title {
  letter-spacing: 3px;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #020202;
  font-weight: bold;
  text-decoration: none;
}
@media only screen and (max-width: 450px) {
  .main-wrapper .contact-info .title {
    font-size: 10px;
    letter-spacing: 2px;
  }
}
.main-wrapper .contact-info .contact-detail {
  float: left;
  width: 21.67%;
  margin-left: 3.33%;
}
@media only screen and (max-width: 1200px) {
  .main-wrapper .contact-info .contact-detail {
    width: 41.67%;
    margin-left: 3.33%;
    margin-bottom: 40px;
  }
  .main-wrapper .contact-info .contact-detail:nth-of-type(2n+1) {
    clear: both;
  }
}
@media only screen and (max-width: 1050px) {
  .main-wrapper .contact-info {
    margin-left: 0;
  }
  .main-wrapper .contact-info .contact-detail {
    clear: both;
    width: 100%;
    display: block;
    margin-top: 45px;
    margin-bottom: 45px;
    float: none;
    margin-left: 0;
  }
}
.detail-item {
  display: block;
  height: 100%;
  position: relative;
  margin-top: 0;
}
.detail-item .image {
  width: 60%;
  height: 100vh;
  float: left;
  background: no-repeat center center;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  .detail-item .image {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .detail-item .image {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    overflow: hidden;
  }
}
.detail-item .image.right {
  float: right;
}
.detail-item .image .slider-image {
  background: no-repeat center center;
}
.detail-item .content {
  padding-top: 25px;
  padding-left: 7%;
  padding-right: 7%;
  width: 40%;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: left;
  align-items: left;
  flex-direction: column;
  -webkit-flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .detail-item .content {
    width: 100%;
    height: 50vh;
  }
}
@media only screen and (max-width: 750px) {
  .detail-item .content {
    height: 100px !important;
  }
}
@media only screen and (max-width: 450px) {
  .detail-item .content {
    height: 80vh;
    width: 100%;
    margin-bottom: 60px;
  }
}
.detail-item .content .number {
  font-size: 52px;
  color: #020202;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .detail-item .content .number {
    font-size: 36px;
  }
}
.detail-item .content .title {
  text-transform: uppercase;
  padding-top: 25px;
  font-size: 30px;
  color: #020202;
  letter-spacing: 3px;
  width: 100%;
}
@media only screen and (max-width: 750px) {
  .detail-item .content .title {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .detail-item .content .title {
    font-size: 22px;
  }
}
@media only screen and (max-width: 570px) {
  .detail-item .content .title {
    font-size: 18px;
    padding-top: 10px;
  }
}
.detail-item .content .subtitle {
  padding-top: 20px;
  color: #d31d5e;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 100%;
}
.detail-item .content .description {
  padding-top: 25px;
  line-height: 2em;
  width: 100%;
}
.detail-item .content.left {
  float: left;
}
@media only screen and (max-width: 750px) {
  .detail-item .content.left {
    float: none;
    clear: both;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    overflow: hidden;
  }
}
.detail-item .content.right {
  float: right;
}
@media only screen and (max-width: 750px) {
  .detail-item .content.right {
    float: none;
    clear: both;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    overflow: hidden;
  }
}
.detail-item:first-of-type {
  border-top: 1px solid #E6E6E6;
}
.detail-item:last-of-type {
  border-bottom: 1px solid #E6E6E6;
}
.map {
  background: no-repeat center center;
  width: 100%;
  height: 459px;
  opacity: 0.7;
  background-image: url("/images/map.png");
  background-position: center center;
  display: block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: 1px solid #EFEFEF;
  position: relative;
}
.map:after {
  content: "";
  background-image: url("/images/marker.png");
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -24px;
  margin-top: -48px;
  width: 48px;
  height: 48px;
}
@media only screen and (max-width: 1050px) {
  .map {
    display: none;
  }
}
.footer {
  width: 100%;
  padding: 60px 0;
  color: #020202;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
}
@media only screen and (max-width: 750px) {
  .footer {
    padding: 20px 0;
  }
}
.footer .left {
  float: left;
  width: 50%;
}
@media only screen and (max-width: 750px) {
  .footer .left {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 50px;
  }
  .footer .left a {
    display: block;
    margin: 20px 0;
  }
}
.footer .right {
  float: right;
}
@media only screen and (max-width: 750px) {
  .footer .right {
    width: 100%;
    float: none;
    margin-top: 35px;
    text-align: center;
  }
}
.footer .right .green {
  color: #d31d5e;
  text-decoration: none;
}
@media only screen and (max-width: 750px) {
  .hidefrom750 {
    display: none;
  }
}
.slick-dots li.slick-active button {
  background: #d31d5e !important;
}
.slick-dots li button:hover,
.slick-dots li button:focus,
.slick-dots li.slick-active button {
  background: #d31d5e !important;
}
/*====================================================s
PRIVACY POLICY
=====================================================*/
.privacy-policy,
.cookie-policy {
  opacity: 0;
  padding: 0 3.33%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.privacy-policy.open,
.cookie-policy.open {
  position: fixed;
  z-index: 10;
  background: white;
  top: 5%;
  overflow: auto;
  bottom: 5%;
  left: 5%;
  right: 5%;
  display: block;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09) !important;
}
.privacy-policy ol,
.cookie-policy ol {
  margin: 15px;
}
.privacy-policy ol li,
.cookie-policy ol li {
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}
.privacy-policy ol ul,
.cookie-policy ol ul {
  margin: 15px;
}
.privacy-policy .title,
.cookie-policy .title {
  text-transform: uppercase;
  padding-top: 25px;
  font-size: 30px;
  color: #020202;
  letter-spacing: 3px;
  font-weight: normal !important;
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .privacy-policy .title,
  .cookie-policy .title {
    font-size: 22px;
  }
}
@media only screen and (max-width: 570px) {
  .privacy-policy .title,
  .cookie-policy .title {
    font-size: 18px;
    padding-top: 10px;
  }
  .closeBtn {
    padding: 10px !important;
  }
}
.privacy-policy .subtitle,
.cookie-policy .subtitle {
  width: 100%;
  letter-spacing: 4px;
  margin: 20px 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #d31d5e;
  text-align: center;
  font-weight: normal !important;
}
@media only screen and (max-width: 1050px) {
  .privacy-policy .subtitle,
  .cookie-policy .subtitle {
    margin-bottom: 55px;
  }
}
@media only screen and (max-width: 450px) {
  .privacy-policy .subtitle,
  .cookie-policy .subtitle {
    margin-bottom: 40px;
  }
}
.privacy-policy,
.cookie-policy {
  display: none;
}
.cookie-policy .subtitle {
  margin: 20px 0;
  text-align: left;
}
.cookie-banner {
  position: fixed;
  width: 300px;
  right: 50px;
  bottom: 50px;
  background: rgba(25, 25, 25, 0.8);
  -webkit-box-shadow: 0 0 3px rgba(25, 25, 25, 0.4);
  -moz-box-shadow: 0 0 3px rgba(25, 25, 25, 0.4);
  box-shadow: 0 0 3px rgba(25, 25, 25, 0.4);
  padding: 25px 60px 25px 30px;
}
.cookie-banner .cookie-close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #FFF !important;
  cursor: pointer;
}
.cookie-banner .cookie-inhoud {
  color: white;
}
.cookie-banner .cookie-inhoud .cookie {
  color: #d31d5e;
}
.cookie-banner .showcookiepolicy {
  color: #FFF !important;
  text-decoration: underline;
}
.cookie-banner .showcookiepolicy:hover {
  text-decoration: none;
}
.closeBtn {
  position: absolute;
  right: 3.33%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 20px;
  font-size: 30px;
  color: #d31d5e;
}
.note {
  text-align: center;
  font-size: 9px;
  width: 100%;
  font-style: italic;
  position: absolute;
  bottom: 35px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.merken-wrapper {
  margin: 125px 0 0 0;
}
.merken-wrapper .slide {
  height: 100px;
  width: 10%;
  background-position: center center;
  background-size: 60% auto;
  min-height: 100px !important;
  margin: 0 20px;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
/*# sourceMappingURL=lingeriecaresse.css.map */