@font-face {
	font-family: 'Stroke-Gap-Icons';
	src: url('gapicon/gapicon.eot');
}
@font-face {
	font-family: 'Stroke-Gap-Icons';
	src: url('gapicon/gapicon.ttf') format('truetype'),
		 url('gapicon/gapicon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
[class*="gapicon-"] {
	font-family: 'Stroke-Gap-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.gapicon-WorldWide:before {
	content: "\e600";
}
.gapicon-WorldGlobe:before {
	content: "\e601";
}
.gapicon-Underpants:before {
	content: "\e602";
}
.gapicon-Tshirt:before {
	content: "\e603";
}
.gapicon-Trousers:before {
	content: "\e604";
}
.gapicon-Tie:before {
	content: "\e605";
}
.gapicon-TennisBall:before {
	content: "\e606";
}
.gapicon-Telesocpe:before {
	content: "\e607";
}
.gapicon-Stop:before {
	content: "\e608";
}
.gapicon-Starship:before {
	content: "\e609";
}
.gapicon-Starship2:before {
	content: "\e60a";
}
.gapicon-Speaker:before {
	content: "\e60b";
}
.gapicon-Speaker2:before {
	content: "\e60c";
}
.gapicon-Soccer:before {
	content: "\e60d";
}
.gapicon-Snikers:before {
	content: "\e60e";
}
.gapicon-Scisors:before {
	content: "\e60f";
}
.gapicon-Puzzle:before {
	content: "\e610";
}
.gapicon-Printer:before {
	content: "\e611";
}
.gapicon-Pool:before {
	content: "\e612";
}
.gapicon-Podium:before {
	content: "\e613";
}
.gapicon-Play:before {
	content: "\e614";
}
.gapicon-Planet:before {
	content: "\e615";
}
.gapicon-Pause:before {
	content: "\e616";
}
.gapicon-Next:before {
	content: "\e617";
}
.gapicon-MusicNote2:before {
	content: "\e618";
}
.gapicon-MusicNote:before {
	content: "\e619";
}
.gapicon-MusicMixer:before {
	content: "\e61a";
}
.gapicon-Microphone:before {
	content: "\e61b";
}
.gapicon-Medal:before {
	content: "\e61c";
}
.gapicon-ManFigure:before {
	content: "\e61d";
}
.gapicon-Magnet:before {
	content: "\e61e";
}
.gapicon-Like:before {
	content: "\e61f";
}
.gapicon-Hanger:before {
	content: "\e620";
}
.gapicon-Handicap:before {
	content: "\e621";
}
.gapicon-Forward:before {
	content: "\e622";
}
.gapicon-Footbal:before {
	content: "\e623";
}
.gapicon-Flag:before {
	content: "\e624";
}
.gapicon-FemaleFigure:before {
	content: "\e625";
}
.gapicon-Dislike:before {
	content: "\e626";
}
.gapicon-DiamondRing:before {
	content: "\e627";
}
.gapicon-Cup:before {
	content: "\e628";
}
.gapicon-Crown:before {
	content: "\e629";
}
.gapicon-Column:before {
	content: "\e62a";
}
.gapicon-Click:before {
	content: "\e62b";
}
.gapicon-Cassette:before {
	content: "\e62c";
}
.gapicon-Bomb:before {
	content: "\e62d";
}
.gapicon-BatteryLow:before {
	content: "\e62e";
}
.gapicon-BatteryFull:before {
	content: "\e62f";
}
.gapicon-Bascketball:before {
	content: "\e630";
}
.gapicon-Astronaut:before {
	content: "\e631";
}
.gapicon-WineGlass:before {
	content: "\e632";
}
.gapicon-Water:before {
	content: "\e633";
}
.gapicon-Wallet:before {
	content: "\e634";
}
.gapicon-Umbrella:before {
	content: "\e635";
}
.gapicon-TV:before {
	content: "\e636";
}
.gapicon-TeaMug:before {
	content: "\e637";
}
.gapicon-Tablet:before {
	content: "\e638";
}
.gapicon-Soda:before {
	content: "\e639";
}
.gapicon-SodaCan:before {
	content: "\e63a";
}
.gapicon-SimCard:before {
	content: "\e63b";
}
.gapicon-Signal:before {
	content: "\e63c";
}
.gapicon-Shaker:before {
	content: "\e63d";
}
.gapicon-Radio:before {
	content: "\e63e";
}
.gapicon-Pizza:before {
	content: "\e63f";
}
.gapicon-Phone:before {
	content: "\e640";
}
.gapicon-Notebook:before {
	content: "\e641";
}
.gapicon-Mug:before {
	content: "\e642";
}
.gapicon-Mastercard:before {
	content: "\e643";
}
.gapicon-Ipod:before {
	content: "\e644";
}
.gapicon-Info:before {
	content: "\e645";
}
.gapicon-Icecream2:before {
	content: "\e646";
}
.gapicon-Icecream1:before {
	content: "\e647";
}
.gapicon-Hourglass:before {
	content: "\e648";
}
.gapicon-Help:before {
	content: "\e649";
}
.gapicon-Goto:before {
	content: "\e64a";
}
.gapicon-Glasses:before {
	content: "\e64b";
}
.gapicon-Gameboy:before {
	content: "\e64c";
}
.gapicon-ForkandKnife:before {
	content: "\e64d";
}
.gapicon-Export:before {
	content: "\e64e";
}
.gapicon-Exit:before {
	content: "\e64f";
}
.gapicon-Espresso:before {
	content: "\e650";
}
.gapicon-Drop:before {
	content: "\e651";
}
.gapicon-Download:before {
	content: "\e652";
}
.gapicon-Dollars:before {
	content: "\e653";
}
.gapicon-Dollar:before {
	content: "\e654";
}
.gapicon-DesktopMonitor:before {
	content: "\e655";
}
.gapicon-Corkscrew:before {
	content: "\e656";
}
.gapicon-CoffeeToGo:before {
	content: "\e657";
}
.gapicon-Chart:before {
	content: "\e658";
}
.gapicon-ChartUp:before {
	content: "\e659";
}
.gapicon-ChartDown:before {
	content: "\e65a";
}
.gapicon-Calculator:before {
	content: "\e65b";
}
.gapicon-Bread:before {
	content: "\e65c";
}
.gapicon-Bourbon:before {
	content: "\e65d";
}
.gapicon-BottleofWIne:before {
	content: "\e65e";
}
.gapicon-Bag:before {
	content: "\e65f";
}
.gapicon-Arrow:before {
	content: "\e660";
}
.gapicon-Antenna2:before {
	content: "\e661";
}
.gapicon-Antenna1:before {
	content: "\e662";
}
.gapicon-Anchor:before {
	content: "\e663";
}
.gapicon-Wheelbarrow:before {
	content: "\e664";
}
.gapicon-Webcam:before {
	content: "\e665";
}
.gapicon-Unlinked:before {
	content: "\e666";
}
.gapicon-Truck:before {
	content: "\e667";
}
.gapicon-Timer:before {
	content: "\e668";
}
.gapicon-Time:before {
	content: "\e669";
}
.gapicon-StorageBox:before {
	content: "\e66a";
}
.gapicon-Star:before {
	content: "\e66b";
}
.gapicon-ShoppingCart:before {
	content: "\e66c";
}
.gapicon-Shield:before {
	content: "\e66d";
}
.gapicon-Seringe:before {
	content: "\e66e";
}
.gapicon-Pulse:before {
	content: "\e66f";
}
.gapicon-Plaster:before {
	content: "\e670";
}
.gapicon-Plaine:before {
	content: "\e671";
}
.gapicon-Pill:before {
	content: "\e672";
}
.gapicon-PicnicBasket:before {
	content: "\e673";
}
.gapicon-Phone2:before {
	content: "\e674";
}
.gapicon-Pencil:before {
	content: "\e675";
}
.gapicon-Pen:before {
	content: "\e676";
}
.gapicon-PaperClip:before {
	content: "\e677";
}
.gapicon-On-Off:before {
	content: "\e678";
}
.gapicon-Mouse:before {
	content: "\e679";
}
.gapicon-Megaphone:before {
	content: "\e67a";
}
.gapicon-Linked:before {
	content: "\e67b";
}
.gapicon-Keyboard:before {
	content: "\e67c";
}
.gapicon-House:before {
	content: "\e67d";
}
.gapicon-Heart:before {
	content: "\e67e";
}
.gapicon-Headset:before {
	content: "\e67f";
}
.gapicon-FullShoppingCart:before {
	content: "\e680";
}
.gapicon-FullScreen:before {
	content: "\e681";
}
.gapicon-Folder:before {
	content: "\e682";
}
.gapicon-Floppy:before {
	content: "\e683";
}
.gapicon-Files:before {
	content: "\e684";
}
.gapicon-File:before {
	content: "\e685";
}
.gapicon-FileBox:before {
	content: "\e686";
}
.gapicon-ExitFullScreen:before {
	content: "\e687";
}
.gapicon-EmptyBox:before {
	content: "\e688";
}
.gapicon-Delete:before {
	content: "\e689";
}
.gapicon-Controller:before {
	content: "\e68a";
}
.gapicon-Compass:before {
	content: "\e68b";
}
.gapicon-CompassTool:before {
	content: "\e68c";
}
.gapicon-ClipboardText:before {
	content: "\e68d";
}
.gapicon-ClipboardChart:before {
	content: "\e68e";
}
.gapicon-ChemicalGlass:before {
	content: "\e68f";
}
.gapicon-CD:before {
	content: "\e690";
}
.gapicon-Carioca:before {
	content: "\e691";
}
.gapicon-Car:before {
	content: "\e692";
}
.gapicon-Book:before {
	content: "\e693";
}
.gapicon-BigTruck:before {
	content: "\e694";
}
.gapicon-Bicycle:before {
	content: "\e695";
}
.gapicon-Wrench:before {
	content: "\e696";
}
.gapicon-Web:before {
	content: "\e697";
}
.gapicon-Watch:before {
	content: "\e698";
}
.gapicon-Volume:before {
	content: "\e699";
}
.gapicon-Video:before {
	content: "\e69a";
}
.gapicon-Users:before {
	content: "\e69b";
}
.gapicon-User:before {
	content: "\e69c";
}
.gapicon-UploadCLoud:before {
	content: "\e69d";
}
.gapicon-Typing:before {
	content: "\e69e";
}
.gapicon-Tools:before {
	content: "\e69f";
}
.gapicon-Tag:before {
	content: "\e6a0";
}
.gapicon-Speedometter:before {
	content: "\e6a1";
}
.gapicon-Share:before {
	content: "\e6a2";
}
.gapicon-Settings:before {
	content: "\e6a3";
}
.gapicon-Search:before {
	content: "\e6a4";
}
.gapicon-Screwdriver:before {
	content: "\e6a5";
}
.gapicon-Rolodex:before {
	content: "\e6a6";
}
.gapicon-Ringer:before {
	content: "\e6a7";
}
.gapicon-Resume:before {
	content: "\e6a8";
}
.gapicon-Restart:before {
	content: "\e6a9";
}
.gapicon-PowerOff:before {
	content: "\e6aa";
}
.gapicon-Pointer:before {
	content: "\e6ab";
}
.gapicon-Picture:before {
	content: "\e6ac";
}
.gapicon-OpenedLock:before {
	content: "\e6ad";
}
.gapicon-Notes:before {
	content: "\e6ae";
}
.gapicon-Mute:before {
	content: "\e6af";
}
.gapicon-Movie:before {
	content: "\e6b0";
}
.gapicon-Microphone2:before {
	content: "\e6b1";
}
.gapicon-Message:before {
	content: "\e6b2";
}
.gapicon-MessageRight:before {
	content: "\e6b3";
}
.gapicon-MessageLeft:before {
	content: "\e6b4";
}
.gapicon-Menu:before {
	content: "\e6b5";
}
.gapicon-Media:before {
	content: "\e6b6";
}
.gapicon-Mail:before {
	content: "\e6b7";
}
.gapicon-List:before {
	content: "\e6b8";
}
.gapicon-Layers:before {
	content: "\e6b9";
}
.gapicon-Key:before {
	content: "\e6ba";
}
.gapicon-Imbox:before {
	content: "\e6bb";
}
.gapicon-Eye:before {
	content: "\e6bc";
}
.gapicon-Edit:before {
	content: "\e6bd";
}
.gapicon-DSLRCamera:before {
	content: "\e6be";
}
.gapicon-DownloadCloud:before {
	content: "\e6bf";
}
.gapicon-CompactCamera:before {
	content: "\e6c0";
}
.gapicon-Cloud:before {
	content: "\e6c1";
}
.gapicon-ClosedLock:before {
	content: "\e6c2";
}
.gapicon-Chart2:before {
	content: "\e6c3";
}
.gapicon-Bulb:before {
	content: "\e6c4";
}
.gapicon-Briefcase:before {
	content: "\e6c5";
}
.gapicon-Blog:before {
	content: "\e6c6";
}
.gapicon-Agenda:before {
	content: "\e6c7";
}
